<div class="d-flex justify-content-center my-4" ng-show="loading">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div ng-show="!loading" class="container w-75">
  <h2 class="my-3 ms-2">Items available</h2>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center p-2" ng-repeat="item in items">
      <div class="col-8">{{item.name}}</div>
      <div class="col-4 text-end">
        <button type="button" class="btn btn-outline-primary me-2" id="{{item.id}}" ng-click="editFunc(item.id)">Edit</button>
        <button type="button" class="btn btn-outline-danger" id="{{item.id}}" ng-click="deleteFunc(item.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>


